.banner-section {
  max-height: 100px;
  height: 100px;
  background-color: var(--main);
  margin: 1em -1em;
  position: relative;
}


@keyframes inBanner {
  0% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 1;
  }
}

.banner-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

.banner-text h2,
h3 {
  color: var(--light);
}

.banner-item {
  display: flex;
  align-items: center;
}

.banner-item svg{
  margin: 0em 1em;
}

@media only screen and (max-width: 1102px) {
  .banner-section {
    height: 100px;
    background-color: var(--main);
  }

  .banner-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5em;
  }
}

@media only screen and (max-width: 723px) {
  .banner-section {
    max-height: 160px;
    height: 200px;
    background-color: var(--main);
    margin: 1em -1em;
    display: flex;
    flex-direction: column;
    z-index: 6;
  }

  .banner-text {
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }


  .banner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .text-item {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .text-item h2,
  .text-item h3 {
    font-size: 10px;
    color: var(--light);
    margin-right: 0.5em;
  }

  .truck-icon,
  .variety-icon {
    width: 20px;
  }
}
