/* .form-section {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  margin: 5em auto;
  background: var(--main);
} */

.form-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1000;
}

.form-section h2{
  color: var(--light);
  align-self: center;
  display: none;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 110%;
  width: 110%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1rem;
  outline: 2px solid var(--main);
  border-radius: 5px;
  font-size: 2rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 2px solid var(--green);
}

.contact-form .btn {
  background: var(--orange-lowOp);
  padding: 1rem;
  margin: 1rem;
  color: #ffffff;
}

@media(max-width: 900px) {
  .form-section h2{
    display: flex;
  }
}