.category-selection-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 5rem 5rem;
  margin: 2rem;
}

.category-selection-section .product-card {
  max-width: 200px;
  max-height: 200px;
  /* transition: 1s; */
}

@media only screen and (max-width: 1473px) {
  .category-selection-section {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}

@media only screen and (max-width: 1273px) {
  .category-selection-section {
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  }
}

@media only screen and (max-width: 1207px) {
  .category-selection-section {
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  }
}

@media only screen and (max-width: 1027px) {
  .category-selection-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-template-rows: repeat(3, 300px);
    gap: 10em 4em;
  }
}

@media only screen and (max-width: 480px) {
  .category-selection-section {
    width: 100%;
    display: grid;

    gap: 2em 2em;
    margin: auto;
    place-items: center;
  }

  .category-selection-section .product-card {
    max-width: 150px;
    max-height: 270px;
    width: 150px;
    height: 270px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .category-card {
    cursor: pointer;
  }
}
