.category-selection-section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23em, 1fr));
    grid-template-rows: repeat(3, 300px);
    gap: 8em 1em;
}

.category-selection-section .product-card {
    max-width: 300px;
    max-height: 300px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    background-size: cover;
    cursor: pointer;
    /* transition: 1s; */
  }


  .category-selection-section  .product-card h2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 1em;
    color: var(--light);
    text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8),
      -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
  }
  

  @media only screen and (max-width: 1251px) {
    .category-selection-section{
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  }
  
  }

  @media only screen and (max-width: 1027px) {
    .category-selection-section{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
      grid-template-rows: repeat(3, 300px);
      gap: 10em 4em;
  }
  
  }
  

  



@media only screen and (max-width: 480px) {
    .category-selection-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .category-card{
        cursor: pointer;
    }
}