.whyUs-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--m);
  margin-bottom: 3em;
  margin-top: 9rem;
}

.first-section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin: 0 var(--m);
}

.first-section img{
  max-width: 500px;
}

.first-section p {
  text-align: justify;
  padding: 10rem;
  max-width: 900px;
}

@keyframes cardAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes entrance1 {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes entrance2 {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes entrance3 {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}


/* Responsive  */
@media only screen and (max-width: 900px) {
  .cards-why {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
  }

  .whyCard {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-left: 1em;
  }
}
