.whyUs-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  margin-bottom: 3em;
}

.whyUs-section .why-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5em;
  padding: 0 6em;
}

.whyUs-section .why-section .text h1,
.whyUs-section .why-section .text h2 {
  margin: 0.5em 0;
}

.whyUs-section .why-section .text .accent {
  font-family: "Montserrat", sans-serif;
  color: var(--main);
}

.cards-why {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
  gap: 3em;
  margin: auto;
  margin-top: 5em;
}

.whyCard {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  background: #ffffff;
}

.whyCard:nth-child(1) {
  animation: entrance1 1s;
}
.whyCard:nth-child(2) {
  animation: entrance2 1s;
}
.whyCard:nth-child(3) {
  animation: entrance3 1s;
}

/* .whyCard:hover {

  box-shadow: var(--main) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.5s;
} */

.whyCard img {
  margin: 2em;
}

.whyCard .images img:nth-child(2) {
  display: none;
  opacity: 0;
  max-width: 120px;
  max-height: 100px;
  width: 60px;
  height: 50px;
}

.whyCard:hover > .images img:nth-child(1) {
  display: none;
  opacity: 0;
  transition: 0.5s;
}

.whyCard:hover > .images img:nth-child(2) {
  display: block;
  opacity: 1;
  transition: 0.5s;
  transition: 0.3s;
}

@keyframes cardAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes entrance1 {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes entrance2 {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes entrance3 {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.whyCard h4 {
  margin-bottom: 1em;
}

.whyCard p {
  text-align: center;
  padding: 20px;
  margin-bottom: 0em;
}

/* Responsive  */
@media only screen and (max-width: 900px) {
  .cards-why {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
  }

  .whyCard {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-left: 1em;
  }
}
