.hero-section {
  background-image: url("https://res.cloudinary.com/dz6lrvj7u/image/upload/v1696847659/Hero/Hero_-_Banner_cxr4lm.jpg");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: 15% 43%;
  max-height: var(--hero-sz);
  height: var(--hero-sz);
  position: sticky;
  top: 0;
  z-index: 0;
}

.hero-section::after {
  content: "";
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  max-height: var(--hero-sz);
  width: 100%;
  z-index: 1;
  overflow: hidden;
  height: 650px;
  background: #194051c0;
}

@keyframes in {
  0% {
    opacity: 0;
    margin-left: -100em;
  }
  100% {
    opacity: 1;
    margin-left: -1em;
  }
}

.hero-section .hero-info {
  display: none;
  flex-direction: row;
  margin: auto;
  gap: var(--m);
  justify-content: center;
  gap: 20rem;
  align-items: flex-end;
  position: relative;
  z-index: 700;
  padding: 15rem;
}

.hero-section .hero-info.alt {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: var(--m);
  justify-content: center;
  gap: 2rem;
  align-items: center;
  position: relative;
  z-index: 700;
  padding: 12rem;
}

.hero-section .hero-info.alt img {
  max-width: 25rem;
  /* background: #ffffff; */
  /* clip-path: circle(); */
  filter: drop-shadow(0 2px 0 var(--light));
  position: relative;
}


.hero-section .hero-info img {
  max-width: 30rem;
  filter: drop-shadow(0 2px 0 var(--light));
}

.hero-section .hero-info .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-section .hero-info .info p {
  color: #ffffff;
  z-index: 700;
}

.hero-section .hero-info .info a {
  color: #ffffff;
  padding: 1rem;
  margin: 2rem;
  background: var(--orange-lowOp);
  z-index: 700;
}

.hero-section .hero-info .info a:hover {
  color: #ffffff;
  padding: 1rem;
  margin: 2rem;
  background: var(--green);
  z-index: 700;
}

/* Responsive  */

@media only screen and (max-width: 1230px) {
  .hero-presentation h1 {
    font-size: 3em;
  }
}
@media only screen and (max-width: 1103px) {
  .hero-section {
    height: 500px;
  }

  .hero-presentation img {
    max-width: 150px;
  }

  .hero-presentation h1 {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 900px) {
  .hero-section {
    height: 300px;
  }

  .hero-presentation img {
    display: none;
  }
}

@media only screen and (max-width: 657px) {
  .hero-presentation h2 {
    margin-top: 6em;
  }
}

@media only screen and (max-width: 590px) {
  .hero-section {
    height: 311px;
    background-position: 8% 114%;
  }

  .hero-section::after {
    height: 311px;
  }

  .hero-presentation {
  }

  .hero-presentation .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.7em 0;
  }

  .hero-presentation h1 {
    font-size: 1.2em;
    justify-content: center;
    padding: 0 2em;
  }

  .hero-presentation h2 {
    font-size: 1em;
    margin-top: 0;
  }

  .hero-presentation img {
    display: none;
  }
}
