.products {
  width: 80%;
  margin: -1em;
  margin-right: var(--m);
  background: var(--gray);
}

/* Products title  */
.products .title {
  display: flex;
  align-items: baseline;
  margin-left: 2em;
  margin-top: 1em;
}

.products .title h2 {
  margin-right: 0.5em;
}

/* Gallery  */

.gallery {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.main-img {
  width: 50%;
}

.main-img img {
  max-width: 500px;
  max-height: 500px;
}

.galleries-imgs {
}

.galleries-imgs .card-img {
  max-width: 130px;
  max-height: 100px;
  width: 130px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  margin: 2em;
  cursor: pointer;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
}

.galleries-imgs .card-img:hover {
  transform: scale(1.1);
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.details .description,
.details .treatments,
.details .measures {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: justify;
  margin-bottom: 1em;
  margin-left: 0;
}

.details .description .text,
.details .treatments .text {
  margin-left: 1em;
}

.details .measurement,
.details .measures {
  background-color: var(--darker-gray);
}

/* Description  */

.details .description {
  width: 100%;
  background-color: var(--darker-gray);
}

.details .description p {
  width: 90%;
}

/* Treatment  */

.treatment-container .title h5 {
  color: var(--secondary);
}

.treatment-container .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.treatment-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.treatment-info > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.treatment-info img {
  max-width: 250px;
  width: 250px;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  margin: 2em;
  margin-left: 0;
  cursor: pointer;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.treatment-container .treatment-info .paragraph {
  width: 50%;
  height: 153px;
}

.treatment-container .treatment-info .paragraph p {
  text-align: justify;
  line-height: 25px;
}

.treatment-container:nth-child(even) .treatment-info {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.details h4 {
  margin: 1em 0 1em 0;
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
  height: 2px;
  background-color: var(--dark);
}

/* Measures  */

.measures {
  margin: auto;
}

.measures .center-table {
  margin: auto;
  width: 100%;
  text-align: center;
  border: 2px solid var(--secondary);
}

.measures .center-table thead {
  background: var(--secondary);
  color: var(--light);
}

.measures .center-table td {
  padding: 0.5em;
}

.responsive-categories-selection {
  display: none;
}
.responsive-measures {
  display: none;
}

/* Related products  */

.related-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(3, 300px);
  gap: 5em 4em;
}

@media only screen and (max-width: 480px) {
  .products-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Products  */

  /* Products  */

  .products {
    width: 100%;
    /* margin: ; */
    margin-right: 0;
    background: var(--gray);
  }

  /* Products title  */

  .products .title {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: 0;
  }

  .products .title h2 {
    margin-right: 0;
  }

  .products .title h5 {
    font-size: 0.5em;
  }

  /* Products gallery  */

  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-img {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .main-img img {
    max-width: 300px;
    max-height: 300px;
  }

  .galleries-imgs {
    display: flex;
  }

  .galleries-imgs .card-img {
    max-width: 70px;
    max-height: 70px;
  }

  /* Product treatment  */

  .treatment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .treatment-info > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .treatment-info img {
    max-width: 250px;
    width: 250px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 15px;
    margin: 0;
    margin-left: 0;
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .treatment-container .treatment-info .paragraph {
    width: 100%;
    height: auto;
    margin: 1em;
    flex-direction: column;
  }

  .treatment-container .treatment-info .paragraph p {
    text-align: center;
    line-height: 25px;
  }

  /* Table and measures  */

  .measures {
    display: none;
  }

  .measures  table {
    display: none;
  }

  .responsive-measures {
    display: flex;
    flex-direction: column;
  }

  .responsive-measures ul h4 {
    color: var(--secondary);
  }

  .responsive-measures ul li {
    display: flex;
    align-items: center;
  }

  .responsive-measures ul li p {
    color: var(--main);
    margin-left: 0.3em;
  }

   .measurement{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
   }

  /* Related products  */
  .related-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

  }

  .related-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
  }
}
