.products {
  width: 80%;
  margin: -1em;
  margin-left: 2em;
  margin-right: var(--m);
  background: var(--gray);
}

/* Products title  */
.products .title {
  display: flex;
  align-items: baseline;
  margin-left: 2em;
  margin-top: 1em;
}

.products .title h2 {
  margin-right: 0.5em;
}

/* Gallery  */

.gallery {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.main-img {
  width: 50%;
}

.main-img img {
  max-width: 500px;
  max-height: 500px;
}

.main-img img:hover{
  transform: scale(1.5);
  transition: 1s;
}

.galleries-imgs {
}

.galleries-imgs .card-img {
  max-width: 130px;
  max-height: 100px;
  width: 130px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  margin: 2em;
  cursor: pointer;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
}

.galleries-imgs .card-img:hover {
  transform: scale(1.2);
  transition: 1s;
  box-shadow: var(--main) 0px 54px 55px,
  var(--main)  0px -12px 30px, var(--main)  0px 4px 6px,
  var(--main)  0px 12px 13px, var(--main)  0px -3px 5px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.details .description,
.details .treatments,
.details .measures {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: justify;
  margin-bottom: 1em;
  margin-left: 0;
}

.details .description .text,
.details .treatments .text {
  margin-left: 1em;
}

.details .measurement,
.details .measures {
}

/* Description  */

.details .description {
  width: 100%;
}

/* Treatment  */
.treatments .treatments-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.treatment-container .title h5 {
  color: var(--main);
}

.treatment-container .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.treatment-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.treatment-info > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.treatment-info img {
  max-width: 250px;
  width: 250px;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  margin: 2em;
  margin-left: 0;
  cursor: pointer;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.treatment-container .treatment-info .paragraph {
  width: 50%;
  height: 153px;
}

.treatment-container .treatment-info .paragraph p {
  text-align: justify;
  line-height: 25px;
}

.treatment-container:nth-child(even) .treatment-info {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.details h4 {
  margin: 1em 0 1em 0;
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
  height: .2px;
  background-color: #333;
}

/* Measures  */

.measures {
  width: 100%;
}

.measures h4{
  margin-left: 1em;
}

.measures .center-table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}


.measures .center-table table {
  text-align: center;
}

.measures .center-table thead {
  background: var(--main);
  color: var(--light);
}

.measures td {
  padding: 2em;
  font-weight: bold;
}

.measures button{
  margin: 2em;
  padding: 1em;
  border: 2px solid var(--main); 
  border-radius: 24px;
}

.measures button:hover{
  background: var(--main);
  color: var(--light);
  transition: .5s;
}

.responsive-categories-selection {
  display: none;
}
.responsive-measure {
  display: none;
}

/* Related products  */

.related-products {
  /* background: var(--main); */
  border-radius: 40px;
  margin-top: 2em;
}

.related-products h4 {
  color: var(--dark);
  padding: 2em;
}

.related-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-template-rows: repeat(3, 300px);
  place-items: center;
  margin-bottom: 2em;
}

@media only screen and (max-width: 900px) {
  .products-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Products  */


  /* Products  */

  .products {
    width: 100%;
    /* margin: ; */
    margin-left: 0;
    margin-right: 0;
    background: var(--gray);
  }

  /* Products title  */

  .products .title {
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
    justify-content: space-between;
    align-items: center;
    margin-left: 0; 
    margin-top: 0;
  }

  .products .title .main-title{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .products .title .goBack-container{
    margin-left: -50%;
  }



  .products .title h5 {
    font-size: 0.5em;
  }

  /* Products gallery  */

  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-img {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .main-img img {
    max-width: 300px;
    max-height: 300px;
  }

  .galleries-imgs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    margin: auto;
    place-items: center;
  }

  .galleries-imgs .card-img {
    max-width: 70px;
    max-height: 70px;
  }

  /* Product treatment  */

  .treatment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .treatment-info > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .treatment-info img {
    max-width: 250px;
    width: 250px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 15px;
    margin: 0;
    margin-left: 0;
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .treatment-container .treatment-info .paragraph {
    width: 100%;
    height: auto;
    margin: 1em;
    flex-direction: column;
  }

  .treatment-container .treatment-info .paragraph p {
    text-align: center;
    line-height: 25px;
  }

  /* Table and measures  */

  .measures {
    display: none;
  }

  .measures .center-table button  {
    display: none;
  }

  .measures table {
    display: none;
  }

  .responsive-measure {
    display: flex;
    flex-direction: column;
  }

  .responsive-measure ul h4 {
    color: var(--secondary);
  }

  .responsive-measure ul li {
    display: flex;
    align-items: center;
  }

  .responsive-measure ul li p {
    color: var(--main);
    margin-left: 0.3em;
  }

  .responsive-measure button{
    padding: 10px;
    font-size: 1em;
    z-index: 1;
  }

  .measurement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  /* Related products  */
  .related-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .related-grid {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-template-rows: repeat(4, 300px);
    margin-bottom: 5em;
  }


}
