/* Card */

.product-card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  max-height: 300px;
  cursor: pointer;
  border-radius: var(--card-br);
}

/* Front card  */
.product-card .front-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  width: 200px;
  height: 250px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: var(--card-br);
  z-index: 2;
}

.product-card .front-card.active{
  box-shadow: 0px 4px 4px 0px var(--main);
  transform: scale(1.1);
  transition: .3s;
}

.product-card .front-card img {
  max-width: 200px;
  max-height: 150px;
}

.product-card .front-card .text {
  position: absolute;
  bottom: 0;
}

/* Slide card  */

.product-card .slide-card {
  display: none;
  position: relative;
  justify-content: flex-start;
  right: 50%;
  flex-direction: column;
  align-items: center;
  background: #fff;
  width: 200px;
  height: 200px;
  box-shadow: 0px 4px 4px 0px var(--main);
  border-radius: 24px;
  z-index: 0;
  background: var(--dark-gray);
}

.product-card .slide-card.active {
  display: flex;
  animation: entrance 0.3s;
}

@keyframes entrance {
  0% {
    right: 0%;
  }
  100% {
    right: 50%;
  }
}

@keyframes entranceUp {
  0% {
    top: 0%;
  }
  100% {
    top: 30%;
  }
}

.product-card .slide-card .subcategory-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.product-card .slide-card .subcategory-gallery .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1em;
}

.product-card .slide-card .subcategory-gallery .container img {
  object-fit: cover;
  width: 100%;
  height: 50px;
  padding: 10%;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px var(--third-dark);
}

@media only screen and (max-width: 420px) {
  .product-card .slide-card {
    right: 0%;
    top: 35%;

    flex-direction: row;
    align-items: end;
    justify-content: center;
  }

  .product-card .slide-card.active {
    animation: entranceUp 0.3s;
  }

  .product-card .slide-card .subcategory-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}
