.contact-section {
  background: var(--main);
  position: relative;
}

.contact-section::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 10px;
  background: var(--green);
  width: 100%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem 15%;
  margin-left: auto;
}

.contact-info h4 {
  color: #ffffff;
  font-weight: 400;
}

.contact-info .description {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 50%;
}

.contact-info .description p {
  color: #ffffff;
  text-align: justify;
  font-weight: 200;
}

.detailed-info {
  display: flex;
  align-items: center;

}

.detailed-info .items .item {
  display: flex;
  align-items: center;
  color: #ffff;
  font-size: 1.2rem;
  text-transform: none;
}

.detailed-info .items .item svg {
  fill: #ffffff;
  max-width: 15px;
  stroke-width: 2px;
}

.contact-info .description .social-icons {
  justify-content: unset;
  align-items: flex-start;
}

.contact-info .description .social-icons svg {
  fill: var(--light);
  max-width: 30px;
  stroke-width: 2px;
}
/* Responsive  */

@media only screen and (max-width: 900px) {
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .contact-info > div {
    margin-left: 0;
  }

  .contact-info li {
    color: var(--light);
    font-size: 0.8em;
    text-align: center;
  }
}
