.contact-section {
  background: var(--main);
  position: relative;
}

.contact-section::after {
  content: "";
  position: absolute;
  bottom: -1em;
  left: 0;
  height: 5%;
  background: var(--green);
  width: 100%;
}

.contact-info {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.contact-info > div {
  margin-left: 5em;
}

.text h2 {
  display: flex;
  flex-direction: column;
}

.text ul .contact-element {
  margin-bottom: 2em;
}

.text ul .contact-element p {
  color: var(--light);
}

.contact-section .contact-element svg {
  fill: var(--light);
}

.contact-section h2 {
  color: var(--third-dark);
}

.contact-section li {
  font-family: "Montserrat", sans-serif;
}

/* Responsive  */

@media only screen and (max-width: 900px) {
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .contact-info > div {
    margin-left: 0;
  }
}
