.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo-container img {
  max-width: 100px;
  max-height: 75px;
  margin-left: var(--m);
}

header ul {
  display: flex;
  margin-right: var(--m);
}

header ul li {
  margin-left: 20px;
}

/* Responsive actions  */

.hamburger-menu {
  display: none;
  opacity: 0;
  cursor: pointer;
}

.whatsapp-icon {
  fill: var(--main);
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 3em;
  right: 3em;
  cursor: pointer;
}

.responsive-nav {
  display: none;
}

.responsive-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: var(--gradient);
  z-index: 10;
  box-shadow: var(--hard-b-sw);
  animation: menu 1s;
}

.responsive-menu.active {
  display: flex;

  transition: 1s;
}

@keyframes menu {
  0% {
    margin-left: -100%;
  }

  100% {
    margin-left: 0;
  }
}

.responsive-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 20;
}

.responsive-menu ul li {
  color: var(--light);
  margin: 0;
}

.responsive-menu .close-icon {
  fill: var(--light);
}

.responsive-menu .social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.responsive-menu .social-icons a {
  margin-left: 1em;
}

.responsive-menu .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-menu .logo img {
  width: 200px;
  height: 200;
}

/* Responsive */
@media only screen and (max-width: 900px) {
  header nav {
    display: none;
  }

  .whatsapp-icon {
    display: none;
  }

  .responsive-nav {
    display: flex;
    position: fixed;
    bottom: 3em;
    width: 80%;
    height: 60px;
    background: var(--gradient);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: var(--hard-b-sw);
  }

  .logo-resp-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
  }

  .logo-resp-menu img {
    height: 60px;
  }

  .responsive-nav .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .responsive-nav .icons .icon {
    width: 20px;
    fill: var(--light);
  }

  .responsive-nav .icons .icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
  }

  .responsive-nav .icons p {
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
  }

  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .header-inner {
  }

  header .logo-container {
    margin: 0;
  }

  header .logo-container img {
    margin-left: 0;
  }

  .hamburger-menu {
    display: block;
    opacity: 1;
    margin: 3em;
    margin-left: 0;
    position: absolute;
    top: -1em;
    left: 1em;
  }
}
