
header {
  position: relative;

}

header::after {
  position: absolute;
  bottom: -0.9em;
  content: "";
  height: 20%;
  background: var(--green);
  width: 100%;
}

header img {
  max-width: 100px;
  max-height: 75px;
  margin-left: var(--m);
}

header ul {
  display: flex;
  margin-right: var(--m);
}

header ul li {
  margin-left: 20px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  color: var(--light);
}


/* Responsive actions  */

.hamburger-menu {
  display: none;
  opacity: 0;
  cursor: pointer;
}

.hamburger-menu path {
  stroke: black;
}

.hamburger-menu.alt path {
  stroke: white;
}

.whatsapp-icon-container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  position: fixed;
  bottom: 2em;
  right: var(--m);
}

.whatsapp-icon-container svg {
  fill: var(--wpp-green);
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 300;
}

.whatsapp-icon-container:hover svg {
  filter: saturate(1);
  stroke-width: 0.3;
  stroke: var(--light);
  transition: 0.5s;
}

.whatsapp-icon-container:hover .deploy-msg-wpp {
  display: flex;
  transition: 1s;
  animation: wpp-msg 0.5s;
}

.whatsapp-icon-container .deploy-msg-wpp {
  background: var(--wpp-green);
  display: none;
  justify-content: center;
  align-items: center;
  height: 65px;
  z-index: 99999;
  color: var(--light);
  padding: 10px;
  border-radius: 15px 0 0 15px;
  margin-right: -0.8em;
  outline: 0.3px solid var(--light);
}

@keyframes wpp-msg {
  0% {
    margin-right: -3em;
    opacity: 0;
  }

  100% {
    margin-right: -0.8em;
    opacity: 1;
  }
}

.responsive-nav {
  display: none;
}

.responsive-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: var(--main);
  z-index: 2000;
  box-shadow: var(--hard-b-sw);
  animation: menu 1s;
}

.responsive-menu.active {
  display: flex;

  transition: 1s;
}

@keyframes menu {
  0% {
    margin-left: -100%;
  }

  100% {
    margin-left: 0;
  }
}

.responsive-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 20;
}

.responsive-menu ul li {
  color: var(--light);
  margin: 0;
}

.responsive-menu .close-icon,
.responsive-menu .social-icons .social-icon {
  fill: var(--light);
}

.responsive-menu .social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.responsive-menu .social-icons a {
  margin-left: 1em;
}

.responsive-menu .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-menu .logo img {
  width: 200px;
  height: 200;
}

/* Responsive */
@media only screen and (max-width: 900px) {
  header img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  header nav {
    display: none;
  }

  .whatsapp-icon {
    display: none;
  }

  .responsive-nav {
    display: flex;
    position: fixed;
    bottom: 3em;
    width: 80%;
    height: 60px;
    background: var(--main);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: var(--hard-b-sw);
    z-index: 2000;
  }

  .logo-resp-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
  }

  .logo-resp-menu img {
    height: 60px;
  }

  .responsive-nav .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .responsive-nav .icons .icon {
    width: 20px;
    fill: var(--light);
  }

  .responsive-nav .icons .icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
  }

  .responsive-nav .icons p {
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
  }

  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .header-inner {
  }

  header .logo-container {
    margin: 0;
  }

  header .logo-container img {
    margin-left: 0;
  }

  .hamburger-menu {
    display: block;
    opacity: 1;
    margin: 3em;
    margin-left: 0;
    position: absolute;
    top: -1em;
    left: 1em;
  }

  .whatsapp-icon-container {
    display: none;
  }
}

/* Dark mode  */

@media (prefers-color-scheme: dark) {
  header {
    background: var(--light);
  }
}
