.subcategories-selection-section {
  width: 100%;
}

/* Go back button  */
.goBack-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1em;
  cursor: pointer;
  margin-top: 1em;
}

.goBack-button:hover {
  filter: contrast(3);
  transition: 0.5s;
}

.goBack-button svg {
  margin-right: 1em;
}

/* Grid */

.subcategories-selection-section .subcategories-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 5em 5rem;
  margin: 2rem
}

.subcategories-selection-section .subcategories-grid .product-card {
  max-width: 200px;
  max-height: 200px;
  background-size: 80%;
}

.subcategories-selection-section .subcategories-grid .product-card h2 {
  font-size: 1.15em;
}

.subcategories-selection-section .subcategories-grid .product-card h2 {
}

.subcategories-selection-section .subcategories-grid .long {
  display: none;
}



@media only screen and (max-width: 1473px) {
  .subcategories-selection-section .subcategories-grid {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  }
}

@media only screen and (max-width: 1273px) {
  .subcategories-selection-section .subcategories-grid {
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  }
}

@media only screen and (max-width: 1207px) {
  .subcategories-selection-section .subcategories-grid {
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  }
}

@media only screen and (max-width: 1027px) {
  .subcategories-selection-section .subcategories-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-template-rows: repeat(3, 300px);
    gap: 10em 4em;
  }
}

@media (max-width: 900px) {
  .subcategories-selection-section .subcategories-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
  }

  .goBack-button {
    position: absolute;
    margin: 0;
    left: 4rem;
    top: 10rem;
  }
}

@media only screen and (max-width: 430px) {

  @keyframes entrance {
    0% {
      right: 0%;
    }
    100% {
      right: 50%;
    }
  }
}
