.subcategories-selection-section {
  width: 100%;
}

/* Go back button  */
.goBack-button {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 4em;
  cursor: pointer;
}

.goBack-button:hover {
  filter: contrast(3);
  transition: 0.5s;
}

.goBack-button svg {
  margin-right: 1em;
}

/* Grid */

.subcategories-selection-section .subcategories-grid {
  margin-top: 2em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  grid-auto-rows: 250px;
  gap: 5em 4em;
}

/* Card */

.subcategories-selection-section .subcategory-card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  max-height: 300px;
  cursor: pointer;
  border-radius: 24px;
}

/* Front card  */
.subcategories-grid .subcategory-card .front-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  width: 200px;
  height: 250px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  z-index: 2;
}

.subcategories-grid .subcategory-card .front-card img {
  max-width: 200px;
  max-height: 200px;
}

/* Slide card  */

.subcategories-grid .subcategory-card .slide-card {
  display: none;
  position: relative;
  justify-content: flex-start;
  right: 50%;
  flex-direction: column;
  align-items: center;
  background: #fff;
  width: 200px;
  height: 200px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  z-index: 0;
  background: var(--dark-gray);
}

.subcategories-grid .subcategory-card .slide-card.active {
  display: flex;
  animation: entrance 0.3s;
}

@keyframes entrance {
  0% {
    right: 0%;
  }
  100% {
    right: 50%;
  }
}

.subcategories-grid .subcategory-card .slide-card.active .subcategory-gallery {
  display: flex;
  flex-direction: column;
}

.subcategories-grid .subcategory-card .slide-card .subcategory-gallery img,
.subcategories-grid
  .subcategory-card
  .slide-card.active
  .subcategory-gallery
  img {
  max-width: 30px;
  height: 100%;
  margin: 1em;
  padding: 10%;
  border-radius: 5px;
}

@media only screen and (max-width: 1251px) {
  .subcategories-selection-section .subcategories-grid {
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  }
  

}

@media only screen and (max-width: 1027px) {
  .subcategories-selection-section .subcategories-grid {
    grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));

  }
}
@media only screen and (max-width: 680px) {
  .subcategories-selection-section .subcategories-grid {
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  }
}
@media only screen and (max-width: 583px) {
  .subcategories-selection-section .subcategories-grid {
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  }
}


@media only screen and (max-width: 430px) {
  
  .subcategories-selection-section .subcategories-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 170px);
    grid-template-rows: repeat(3, 300px);
    gap: 1em 1em;
  }

 

  .subcategories-grid .subcategory-card .slide-card.active {
    display: flex;
    animation: entrance 0.3s;
  }

  @keyframes entrance {
    0% {
      right: 0%;
    }
    100% {
      right: 50%;
    }
  }
}
