.info {
  display: flex;
  justify-content: space-between;
}

/* Logo  */

.logo-container {
  margin-left: var(--m);
}

.social-icon {
  fill: var(--dark);
  margin-right: 1.25em;
}

.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sections in footer  */

.sections {
  display: flex;
  justify-content: center;
  margin-right: var;
}

.section {
  text-align: justify;
  margin-right: 6em;
}

.section.last {
  margin-right: 0;
}

.section ul li {
  margin-bottom: 0.8em;
  display: flex;
}

/* Contact element  */

.contact-element {
  display: flex;
  align-items: center;
  margin-bottom: 0.8em;
}

.contact-element-icon {
  fill: var(--dark);
  max-width: 20px;
  max-height: 15px;
  margin-right: 1em;
}

/* Footer of footer  */
.credits {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

/* Responsive  */
@media only screen and (max-width: 480px) {
  .sections{
    display: none;
  }

  .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: row-reverse;
    margin-bottom: 3em;
  }

  .social-icons{
    display: flex;
    flex-direction: column;
    margin: .3em;
    margin-left: -1em;
  }

  .social-icons .social-icon{
    width: 30px;
    margin-bottom: .3em;
  }

  .credits{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;

  }

  .copyright{
    width: 100%;
    margin-bottom: .1em;
  }

}
