footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: var(--m);
  margin-right: var(--m);
  margin: 0 var(--m);
}

/* Logo  */

.logo img{
  max-width: 50px;
  margin-top: 8rem;
}

.social-icon {
  fill: var(--dark);
  margin-right: 1.25em;
}

.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sections in footer  */

.sections {
  display: flex;
  justify-content: center;
  margin-right: var;
}

.section {
  text-align: justify;
  margin-right: 6em;
}

.section.last {
  margin-right: 0;
}

.section ul li {
  margin-bottom: 0.8em;
  display: flex;
}

/* Contact element  */

.contact-element {
  display: flex;
  align-items: center;
  margin-bottom: 0.8em;
}

.contact-element-icon {
  fill: var(--dark);
  max-width: 10px;
  max-height: 10px;
  margin-right: 1em;
}

/* Footer of footer  */
.credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copyright p{
  font-size: 1.2rem;
}

/* Responsive  */
@media only screen and (max-width: 900px) {
  .sections{
    display: none;
  }

  .info{
    display: flex ;
    flex-direction: column;
    align-items: center;
  }

  .logo-container{
    margin-left: 0; 
  }

  

  .social-icons{
    display: flex;
    flex-direction: row;
    margin: .3em;
    margin-left: 0;
  }

  .social-icons .social-icon{
    margin-left: 2em;
    width: 30px;
    margin-bottom: .3em;
  }


  
  .credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    width: 300px;
  }


}
