.history-section{
  width: 100%;
  margin: 0;

}

/* First section  */

@keyframes in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.history-section .sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Second  section */

.history-section .second-section {
  display: flex;
  flex-direction: column;
  margin: 3em; 
}
.history-section .second-section h2 {
  margin-top: 1%;
}

.history-section .second-section h2.accent {
  margin-top: 1em;
  margin-bottom: 2em;
  font-size: 3em;
  color: var(--main);
  letter-spacing: 2px;
  font-family: "Kameron", serif;
}

/* -----First column  */
.history-section .second-section .column {
  display: flex;
  text-align: justify;
  width: 50%;
  margin: auto;
}

.history-section .second-section .column .text {
  margin-left: 2em;
}

.history-section .second-section .column img {
  max-width: 500px;
}

/* ------Second column ---- */
.history-section .second-section .second-column {
  text-align: justify;
}

/* Third section  */
.third-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2em;
  margin-bottom: 0;
}

.third-section h2 {
  width: 70%;
  text-align: center;
  margin-bottom: 1em;
}

.third-section h2.accent {
  margin-top: 1em;
  font-size: 2.7 em;
  color: var(--main);
  font-family: "Kameron", serif;
  letter-spacing: 2px;
}

.history-section .last-section {
  width: 101.7%;
  overflow: hidden;
  margin-top: 1em;
  margin-bottom: -1em;
}

.history-section .last-section img {
  width: 100%;
  max-height: 1000px;
  object-fit: cover;
  height: 1000px;
  z-index: 0;
  opacity: 1;
  filter: contrast(1.1) brightness(1) saturate(1.4);
}

/* Responsive  */

@media only screen and (max-width: 1604px) {
  .history-section .second-section .column {
    width: 60%;
  }

  .history-section .second-section .column .text {
    margin-left: 2em;
  }

  .history-section .second-section .column img {
    max-width: 60%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 1315px) {
  .history-section .first-section .background {
    max-height: 700px;
  }
}

@media only screen and (max-width: 1021px) {
  .history-section .first-section .background {
    max-height: 500px;
  }
}

@media only screen and (max-width: 900px) {
  .history-section .first-section .background {
    max-height: 400px;
    height: 400px;
  }

  .history-section .second-section h2 {
    font-size: 0.6em;
  }

  .history-section .second-section h2.accent {
    font-size: 0.8em;
    letter-spacing: 1px;
  }

  .history-section .second-section .column {
    display: flex;
    flex-direction: column;
  }

  .history-section .second-section .column .text {
    margin-left: 0;
  }

  .history-section .second-section .column img {
    max-width: 100%;
    object-fit: cover;
  }

  .history-section .third-section {
    margin: 0;
    margin-top: 2em;
  }

  .history-section .third-section h2 {
    margin: 0;
    width: 100%;
    margin-bottom: 1em;
    width: 100%;
  }

  .history-section .third-section img {
    margin-bottom: 1em;
  }
}
@media only screen and (max-width: 430px) {
  .history-section .first-section .background {
    max-height: 200px;
    height: 400px;
  }
}
