@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat&family=Kameron&display=swap");


/* Header */
@import url("./components/header/header.css");

/* Main  */

/* --------- home ---------- */
@import url("./components/mainPages/Home/home.css");

/* ---------- Hero --------- */
@import url("./components/utils/hero/hero.css");

/* Product  */
@import url("./components/mainPages//Products/products.css");

/* Contact  */

@import url("./components/contact/contact.css");

/* Footer */
@import url("./components/footer/footer.css");

:root {
  /* Color palette  */
  --main: #001f60;
  --main-lowOp: #001e60c5;
  --secondary: #6b85a8;
  --secondary-lowOp: #6b85a86c;

  --third-light: #fbebc9;
  --third-dark: #dbdac5;

  --gray: #f8f8f8;
  --dark-gray: #f7f7f7;
  --darker-gray: #f5f5f5;

  --dark: #1f2327;
  --dark-lowOp: #1f232771;

  --light: #ffffff;
  --light-lowOp: #ffffff4b;

  --wpp-green: #25d366;

  --accent:   #8142E9; 

  --experimental-gradient: linear-gradient(to right, #001f61, #232887, #4a2cab, #7729cd, #a912eb); 

  --gradient: linear-gradient(138deg, #6b85a8 28.45%, #001f60 100%);
  --gradientLowOp: linear-gradient(138deg, #6b85a8 28.45%, #001f60 50%);

  --gradientAlt: linear-gradient(-138deg, #6b85a8 28.45%, #001f60 100%);

  --light-b-sw: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --medium-b-sw: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --hard-b-sw: rgb(38, 57, 77) 0px 20px 30px -10px;

  --text-sh: 2px 7px 5px rgba(0, 0, 0, 0.3),
  0px -4px 10px rgba(255, 255, 255, 0.3);

  /* Fonts size  */

  /* Margins  */
  --m: 10.375em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;

}

html,
body {
  width: 100%;
  height: 100%;
  color: #222;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

/* Scroll bar  */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--third-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

/* Structure  */
article {
  height: 100vh;
  display: grid;
  grid-template-rows: 5em 1fr 1fr 5em;
  grid-template-columns: 100%;
}

header {
  background: var(--light);
  max-height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

main {
  background: whitesmoke;
  color: #444;
  padding: 1rem;
}

.blurred {
  backdrop-filter: blur(100px);
}

footer {
  padding: 5rem;
  max-height: 400px;
}

/* Typography */

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px; /* 117.188% */
  text-transform: uppercase;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  text-transform: uppercase;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
  text-transform: uppercase;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
  text-transform: uppercase;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  text-transform: uppercase;
}

.lead-p {
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  text-transform: none;
}

button {
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
  text-transform: uppercase;
}

/* Details  */
a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  text-transform: uppercase;
}

table,
td,
th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  margin: 1em;
  padding: 0.5em;
}

/* Responsive  */

@media only screen and (max-width: 1102px) {
  li {
    font-size: 0.5em;
  }

  header {
    display: flex;

    justify-content: center;
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px; /* 117.188% */
  }

  h2 {
    font-size: 20px;
    line-height: 20px; /* 117.188% */
  }

  h3 {
    font-size: 14px;
  }

  h4 {
    font-size: 10px;
  }

  h5 {
    font-family: Montserrat;
    font-size: 5px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    text-transform: uppercase;
  }

  .lead-p {
    font-family: "Barlow", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
  }

  p {
    font-family: "Barlow", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 138.889% */
    text-transform: none;
  }
}

@media only screen and (max-width: 480px) {
}
/* Components css  */


/* User schema  */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
