/* Categories  */
.categories {
  background: var(--gray);
}

.categories-selection {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
  margin-top: 1em;
}

.categories-selection .cats-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.categories-selection .cats-container a .cat-item .cat-info{
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.categories-selection .cats-container a .cat-item .cat-info img{
  max-width: 20px;
  max-height: 20px;
  width: 20px;
  height: 20px;
}

.categories-selection .cats-container a .cat-item .cat-info .cat-title{
  white-space: nowrap;
}

.categories-selection .cats-container a .cat-item .cat-info .cat-title.active{
  font-weight: 700;
}


/* Cat item  */


@media only screen and (max-width: 900px) {
  /* Categories  */

  .categories {
    width: 100%;
    background: var(--darker-gray);
    display: block;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
  }

  .categories-selection h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .categories-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin: 0;
    margin-top: 1em;
  }

  .categories-selection .cats-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    margin: auto;
    place-items: center;
  }

  .categories-selection .cat-item img {
    max-width: 15px;
    max-height: 10px;
  }

  .categories-selection .cat-item .cat-title {
    font-size: 1rem;
  }

  .categories-selection ul {
    display: none;
  }

  .categories-selection .selection-icon {
    display: none;
  }

  .responsive-categories-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }
}
